html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: inherit;
}

main {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 550px;
    height: 550px;
    margin: 0 auto;
    border: 3px solid black;
    box-shadow: 
                3px 3px rgba(40, 20, 20, 0.6);
}

    .tile {
        width: 100%;
        height: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .tile.dark {
            background-color: black;
        }
        .tile.light {
            background-color: lightblue;
        }
        .tile.hover {
            background-color: green;
        }

    .piece {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        box-shadow: 2px 2px white;
    }
    .piece:hover {
        cursor: pointer;
    }
        .piece.dark {
            background-color: rgb(9, 37, 99);
        }
        .piece.light {
            background-color: rgb(206, 131, 144);
        }